*{
    margin: 0; padding: 0;
}

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-right: 440px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    width: 720px;
     height: 450px;
    
}
.slider input {
    display: none;
}
.slider label {
    background-color: #000000;
    bottom: 20px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.slider label:hover{
    background-color: rgb(94, 94, 94);
}

.slider li:nth-child(1) label {
    left: 20px;
}

.slider li:nth-child(2) label {
    left: 50px;
}
.slider li:nth-child(3) label {
    left: 80px;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}