@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
}

body{
  font-family:  'Roboto', sans-serif;
}

/*Barra de Navegação*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
 nav li {
    float: left;
    padding: 14px 16px;
  }
  
nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
 nav li a:hover {
    background-color: rgb(56, 56, 56);
  }



  h1{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  /*Top Assuntos index*/
  img{
    border-radius: 15px;
  }
  .pai{
    display: flex;
  }
  .topAssunto1{
    width: 600px;
    
  }
  .topAssunto1img{
    width: 600px;
  }
  .pai2{
    display: flex;
  }
  .topAssunto2{
    width: 600px;
    padding: 20px;
  }
  .pai3{
    display: flex;
  }
  .topAssunto3{
    width: 600px;
    padding: 20px;
  }
  /*Top Assuntos xbox*/
  .topAssunto1text{
    width: 800px;
    
  }
  .topAssunto2text{
    width: 800px;
    
  }
  .topAssunto3text{
    width: 800px;
    
  }
  .topAssunto1textps{
    text-align: justify;
    padding: 50px;
    line-height: 30px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
  footer {
    
    background-color: black;
    width: 100%;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
  }